printWidth: 140
singleQuote: true
tabWidth: 2
useTabs: false
arrowParens: avoid
bracketSameLine: false
overrides:
  - files: "*.html"
    options:
      parser: angular
  - files: "*.java"
    options:
      tabWidth: 4
plugins:
  - prettier-plugin-packagejson
  - prettier-plugin-java
