@if (allBeans()) {
  <div>
    <h2 id="configuration-page-heading" data-cy="configurationPageHeading">__jhiTranslateTag__('configuration.title')</h2>

    <span>__jhiTranslateTag__('configuration.filter')</span>
    <input type="text" [ngModel]="beansFilter()" (ngModelChange)="beansFilter.set($event)" class="form-control" />

    <h3 id="configuration">Configuration Properties</h3>

    <table class="table table-striped table-bordered table-responsive d-table" aria-describedby="configuration">
      <thead>
        <tr <%- jhiPrefix %>Sort [(sortState)]="sortState">
          <th <%- jhiPrefix %>SortBy="prefix" scope="col" class="w-40">
            <span>__jhiTranslateTag__('configuration.table.prefix')</span> <fa-icon icon="sort" />
          </th>
          <th scope="col" class="w-60"><span>__jhiTranslateTag__('configuration.table.properties')</span></th>
        </tr>
      </thead>
      <tbody>
        @for (bean of beans(); track $index) {
          <tr>
            <td>
              <div class="row">
                <div class="col-md-4">{{ bean.key }}</div>
                <div class="col-md-8">
                  <span class="float-end bg-secondary break">{{ bean.value | json }}</span>
                </div>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}
