<div *ngIf="allConfiguration">
    <h2 id="configuration-page-heading" jhiTranslate="configuration.title">Configuration</h2>

    <span jhiTranslate="configuration.filter">Filter (by prefix)</span> <input type="text" [(ngModel)]="filter" class="form-control">
    <h4><span>Configuration Properties</span></h4>
    <table class="table table-sm table-striped table-bordered table-responsive d-table">
        <thead>
        <tr>
            <th class="w-40">Property</th>
            <th class="w-60">Value</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let entry of allConfiguration | keyvalue | keyStartsWith:filter">
            <td class="break">{{entry.key}}</td>
            <td class="break">
                <span class="float-right badge-secondary break">{{entry.value}}</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
