name: Generator
on: [push, pull_request]
permissions:
  contents: read
jobs:
  micronaut:
    name: npm-test
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
      - run: npm ci
      - run: npm run test

  check-generator:
    permissions:
      contents: none
    runs-on: ubuntu-latest
    needs: [micronaut]
    if: always()
    steps:
      - run: |
          echo '${{ toJSON(needs) }}'
          if [ 'skipped' == '${{ needs.micronaut.result }}' ] || [ 'success' == '${{ needs.micronaut.result }}' ] || [ 'closed' == '${{ github.event.action }}' ]; then
            exit 0
          fi
          exit 1

