name: Verify Sample Projects
on:
  push:
    branches:
      - 'main'
      - '**maintenance'
    paths-ignore:
      - 'package*.json'
  pull_request:
    branches:
      - '*'
env:
  JHI_E2E_HEADLESS: true
permissions:
  contents: read
jobs:
  build-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.build.outputs.matrix }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - id: build
        run: |
          npm install
          npm link
          mhipster github-build-matrix
  samples:
    name: ${{ matrix.sample-name }}
    runs-on: ubuntu-latest
    needs: build-matrix
    defaults:
      run:
        working-directory: ${{ github.workspace }}/app
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix: ${{fromJson(needs.build-matrix.outputs.matrix)}}
    steps:
      - uses: jhipster/actions/create-app-path@v0
      - uses: jhipster/actions/setup-git@v0
      - uses: jhipster/actions/restore-cache@v0
        with:
          npm: true
      - uses: actions/checkout@v4
        with:
          path: generator-jhipster-micronaut
          fetch-depth: 2
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java-version }}
      - name: 'Install blueprint'
        run: npm install && npm link
        working-directory: ${{ github.workspace }}/generator-jhipster-micronaut
      - name: 'Generate Project'
        run: mhipster generate-sample ${{ matrix.sample-name }} --skip-jhipster-dependencies --force
        env:
          JHI_PROFILE: dev
          JHI_PROJECT_VERSION: 3.0.0-git
      - uses: jhipster/actions/compare-sample@v0
        with:
          generator-path: generator-jhipster-micronaut
          cmd: mhipster generate-sample ${{ matrix.sample-name }} --skip-jhipster-dependencies --force --skip-install
      - name: 'Start Dependency Containers'
        run: npm run ci:e2e:prepare
      - name: 'Run Server Tests'
        run: npm run ci:backend:test
        id: backend
      - name: 'Run Client Tests'
        run: npm run ci:frontend:test --if-present
      - name: 'Build App'
        run: npm run ci:e2e:package
      - name: 'E2E Tests'
        run: npm run ci:e2e:run --if-present
      - name: 'BACKEND: Store failure logs'
        uses: actions/upload-artifact@v3
        if: always() && steps.backend.outcome == 'failure'
        with:
          name: log-${{ matrix.sample-name }}
          path: |
            ${{ github.workspace }}/app/build/test-results/**/*.xml
            ${{ github.workspace }}/app/target/surefire-reports
      - name: Dump docker logs
        if: always()
        uses: jwalton/gh-docker-logs@v2
  check-samples:
    permissions:
      contents: none
    runs-on: ubuntu-latest
    needs: [samples]
    if: always()
    steps:
      - run: |
          echo '${{ toJSON(needs) }}'
          if [ 'skipped' == '${{ needs.samples.result }}' ] || [ 'success' == '${{ needs.samples.result }}' ] || [ 'closed' == '${{ github.event.action }}' ]; then
            exit 0
          fi
          exit 1
